.modal-close-button {
    position: absolute !important;
    right: 0px;
    top: 0px;
}

.form-item-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#formId {
    display: flex;
    flex-direction: column;
}

#formId > div {
    flex: 1 100px;
}