.primary-line {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.secondary-line {
  display: flex;
  justify-content: space-around;
  font-size: small;
  color: #065b9e;
}

.task-item {
  border-bottom: 1px solid blueviolet;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
